
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F2E9E4; 
  color: #3A4D57; 
  line-height: 1.6;
}

.header {
  background-color: #f1dbcf; 
  color: #3A4D57;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header h1 {
  font-size: 2.3rem;
  margin-bottom: 0.4rem;
}

.tagline {
  font-weight: 300;
  font-size: 1rem;
  color: #3A4D57;
}


.menu {
  background-color: #3A4D57; 
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.menu li a {
  color: #F2E9E4;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu li a:hover {
  background-color: #A8C3CF;
  color: #3A4D57;
}

.hero {
  height: 60vh;
  background-color: #dbad93;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3A4D57;
  padding: 1rem;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1rem;
  max-width: 550px;
  margin: 0 auto 1.2rem;
}

.btn {
  display: inline-block;
  background-color: #3A4D57;
  color: #F2E9E4;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2C3C45;
  transform: scale(1.05);
}

.featured {
  padding: 3rem 1rem;
  text-align: center;
}

.featured h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #3A4D57;
  font-weight: 600;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.column {
  background-color: #fff;
  width: 360px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s ease;
}

.column:hover {
  transform: translateY(-5px);
}

.column img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.column h3 {
  margin: 1rem 0 0.3rem;
  color: #3A4D57;
}

.column p {
  padding: 0 1rem 1rem;
  font-size: 0.95rem;
  color: #3A4D57;
}


.footer {
  background-color: #f1dbcf;
  color: #3A4D57;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: 3rem;
  font-size: 0.95rem;
}

.socials a {
  color: #3A4D57;
  text-decoration: none;
  font-weight: 500;
}

.socials a:hover {
  color: #3b6a83;
}
